name: FOSSA CLI Analysis
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FOSSA_API_KEY: ${{secrets.FOSSA_API_KEY}}

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with: 
          ref: ${{ github.event.pull_request.head.sha }}
  
      - name: Running FOSSA CLI
        run: |
          curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash
          git branch
          echo ${{ github.event.pull_request.head.sha }}
          echo ${{ github.event.pull_request.head.ref }}
          echo "Checked out commit SHA: $(git rev-parse HEAD)"
          fossa --version
          fossa analyze
