name: FOSSA CLI Analysis + Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FOSSA_API_KEY: ${{secrets.FOSSA_API_KEY}}

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
  
      - uses: fossas/fossa-action@main
        id: fossa-analyze
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}

      - name: Running FOSSA CLI test with json output
        run: |
          curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash
          fossa --version
          fossa test --json | jq '.issues[] | select(.type == "vulnerability" and .status == "new" and .depth < 3)'
          
      - name: Running FOSSA diff on latest revision of main branch
        # project locator can be found in the project settings. it needs to be URL encoded in the below request
        if: github.event.pull_request.base.ref == 'main'
        run: |
          curl -X 'GET' \
          'https://app.fossa.com/api/projects/custom%2B12948%2Fgithub.com%2Fcmboling%2Ffossa-deps-test?ref_type=branch&ref=main' \
          -H 'accept: application/json' \
          -H 'Authorization: Bearer ${{secrets.FOSSA_API_KEY}}' | jq '.last_analyzed.loc.revision' | xargs fossa test --diff

